body {
    margin: 60px auto;
    width: 70%;
    background-color: #BEB9A6;
}
nav {
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.5em;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-decoration: underline;
    color: #b01c2e
}

h1 {
    font-size: 4em;
    font-family:'Corbel', 'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 3em;
    font-family:'Corbel', 'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 2em;
    font-family:'Corbel', 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    font-family:'Corbel', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #000000;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.wrapper {
    margin-top: 150px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    align-items: center;
    justify-items: center;
}

.one {
    grid-column: 1;
    grid-row: 1;
}
.two {
    grid-column: 2;
    grid-row: 1;




