<!DOCTYPE html>
	<html>
		<head>
			<title>Chris Brasnett</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
    				<li><a href="/papers">Papers</a></li>
	        		<li><a href="/asset/cv.pdf">CV</a></li>
	        		<li><a href="/other_work">Other Work</a></li>
	    		</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div>
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:chris.brasnett@bristol.ac.uk">email me</a></li>
            		<li><a href="https://github.com/csbrasnett">github.com/csbrasnett</a></li>
				</ul>
			</footer>
		</body>
	</html>
